<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
<main class="summer-content" role="main">
        {{ content }}
      {% if paginator %}
        <nav class="pagination" role="navigation">
          {% if paginator.previous_page %}
            <a class="newer-posts faded" href="/page/{{ paginator.previous_page }}"><i class="fa fa-chevron-left"></i> Trang trước</a>
          {% endif %}
          {% if paginator.next_page %}
            <a class="newer-posts faded" href="/page/{{ paginator.next_page }}">Trang kế <i class="fa fa-chevron-right"></i></a>
          {% endif %}
      {% endif %}
      </nav>
    {% include footer.html %}
</main>

  </body>

</html>
